.balance-div{
   padding: 2%;
   
}

.fund-div{
    padding: 2%;
    
}

.wallet-col{
    width: 50%;
    height: 100%;
}

.wallet{
    margin: 1%;
    display: flex;
    text-align: center;
}

.title{
    text-align: center;
    padding: 2%;
}